{% extends 'base.html' %}
{% load humanize %}

{% block content %}
    <div class="page-header">
        <h3>{{ player.username }}</h3>
        <span>{{ games.0.get_rank_display }} R{{ games.0.rate|floatformat:0 }}</span>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <table class="table table-bordered">
                <tr class="success">
                    <td>Win Rate</td>
                    <td>{{ win_rate|floatformat:-2 }}%</td>
                </tr>
                <tr>
                    <td>Win with riichi</td>
                    <td>{{ win_with_riichi|floatformat:-2 }}%</td>
                </tr>
                <tr>
                    <td>Win with open hand</td>
                    <td>{{ win_with_open_hand|floatformat:-2 }}%</td>
                </tr>
                <tr>
                    <td>Win with damaten</td>
                    <td>{{ win_with_damaten|floatformat:-2 }}%</td>
                </tr>
                <tr class="success">
                    <td>Riichi rate</td>
                    <td>{{ riichi_rate|floatformat:-2 }}%</td>
                </tr>
                <tr>
                    <td>Successful riichi</td>
                    <td>{{ riichi_successful|floatformat:-2 }}%</td>
                </tr>
                <tr>
                    <td>Failed riichi</td>
                    <td>{{ riichi_failed|floatformat:-2 }}%</td>
                </tr>
                <tr class="success">
                    <td>Feed rate</td>
                    <td>{{ feed_rate|floatformat:-2 }}%</td>
                </tr>
                <tr>
                    <td>Feed when in riichi</td>
                    <td>{{ feed_when_riichi|floatformat:-2 }}%</td>
                </tr>
                <tr>
                    <td>Other</td>
                    <td>{{ other_feed|floatformat:-2 }}%</td>
                </tr>
                <tr class="success">
                    <td>Call rate</td>
                    <td>{{ call_rate|floatformat:-2 }}%</td>
                </tr>
                <tr>
                    <td>Win after call</td>
                    <td>{{ call_and_win|floatformat:-2 }}%</td>
                </tr>
                <tr>
                    <td>Feed after call</td>
                    <td>{{ call_and_deal|floatformat:-2 }}%</td>
                </tr>
                <tr>
                    <td>Other</td>
                    <td>{{ call_and_other|floatformat:-2 }}%</td>
                </tr>
                <tr class="success">
                    <td>Damaten rate</td>
                    <td>{{ damaten_rate|floatformat:-2 }}%</td>
                </tr>
            </table>
        </div>

        <div class="col-lg-3">
            <table class="table table-bordered">
                <tr class="success">
                    <td>Averages</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Average position</td>
                    <td>{{ average_position|floatformat:-2 }}</td>
                </tr>
                <tr>
                    <td>Average win scores</td>
                    <td>{{ average_win_scores|floatformat:0|intcomma }}</td>
                </tr>
                <tr>
                    <td>Average deal scores</td>
                    <td>{{ average_deal_scores|floatformat:0|intcomma }}</td>
                </tr>
            </table>
        </div>

        <div class="col-lg-3">
            <table class="table table-bordered">
                <tr class="success">
                    <td>Positions</td>
                    <td></td>
                </tr>
                <tr>
                    <td>First place</td>
                    <td>{{ first_position_rate|floatformat:-2 }}%</td>
                </tr>
                <tr>
                    <td>Second place</td>
                    <td>{{ second_position_rate|floatformat:-2 }}%</td>
                </tr>
                <tr>
                    <td>Third place</td>
                    <td>{{ third_position_rate|floatformat:-2 }}%</td>
                </tr>
                <tr>
                    <td>Fourth place</td>
                    <td>{{ fourth_position_rate|floatformat:-2 }}%</td>
                </tr>
                <tr>
                    <td>Bankruptcy</td>
                    <td>{{ bankruptcy_rate|floatformat:-2 }}%</td>
                </tr>
            </table>
        </div>

        <div class="col-lg-12">
            <p>Latest 20 games (total {{ total_games|intcomma }})</p>
            <table class="table table-bordered table-striped">
                <tr>
                    <th>Log</th>
                    <th>Type</th>
                    <th>Position</th>
                    <th>Scores</th>
                    <th>Date</th>
                </tr>
                {% for game in games %}
                    <tr>
                        <td>
                            <a href="{{ game.get_tenhou_url }}" target="_blank">
                                {{ game.get_tenhou_url }}
                            </a>
                        </td>
                        <td>{{ game.get_game_rule_display }}</td>
                        <td>{{ game.player_position }}</td>
                        <td>{{ game.scores|intcomma }}</td>
                        <td>{{ game.game_date }}</td>
                    </tr>
                    <tr>
                        <td>
                            {% for round in game.rounds.all %}
                                {{ round.round_number_display }}

                                {% if round.is_riichi %}
                                    Riichi,
                                    {% if not round.is_win %}
                                        Failed
                                    {% endif %}
                                {% endif %}

                                {% if round.is_win %}
                                    <b>Win ({{ round.is_tsumo|yesno:"tsumo,ron" }}) {{ round.win_scores|intcomma }}</b><b></b>
                                {% endif %}

                                {% if round.is_deal %}
                                    Deal to hand {{ round.lose_scores|intcomma }}
                                {% endif %}

                                {% if not round.is_deal and round.lose_scores %}
                                    Pay for tsumo {{ round.lose_scores|intcomma }}
                                {% endif %}

                                {% if round.is_retake %}
                                    Retake
                                {% endif %}

                                {% if not round.is_win and not round.is_deal and not round.is_retake and not round.is_riichi and not round.lose_scores %}
                                    -
                                {% endif %}

                                {% if round.is_damaten %}
                                    <span class="label label-success">damaten</span>
                                {% endif %}

                                <br>
                            {% endfor %}
                        </td>
                        <td colspan="4"></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

{% endblock %}