{% extends 'base.html' %}
{% load humanize %}

{% block content %}
    <div class="page-header">
        <h3>{{ player.username }}</h3>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Main stat</h3>
                </div>
                <table class="table">
                    <tr>
                        <td>Win rate</td>
                        <td>{{ win_rate|floatformat:-2 }}%</td>
                        <td>
                            <span class="glyphicon glyphicon-question-sign" aria-hidden="true"
                                  title="is the number of hands you have won divided by the total number of hands you have played in all games"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>Feed rate</td>
                        <td>{{ feed_rate|floatformat:-2 }}%</td>
                        <td>
                            <span class="glyphicon glyphicon-question-sign" aria-hidden="true"
                                  title="is the number of times you have fed the winning tile to an opponent’s hand divided by the total number of hands you have played"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>Call rate</td>
                        <td>{{ call_rate|floatformat:-2 }}%</td>
                        <td>
                            <span class="glyphicon glyphicon-question-sign" aria-hidden="true"
                                  title="is the number of hands where you have called chii / pon / kan divided by the total number of hands you have played"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>Riichi rate</td>
                        <td>{{ riichi_rate|floatformat:-2 }}%</td>
                        <td>
                            <span class="glyphicon glyphicon-question-sign" aria-hidden="true"
                                  title="is the number of hands where you have called riichi divided by the total number of hands you have played"></span>
                        </td>
                    </tr>
                    <tr class="small-text">
                        <td>Successful riichi</td>
                        <td>{{ riichi_successful|floatformat:-2 }}%</td>
                        <td></td>
                    </tr>
                    <tr class="small-text">
                        <td>Failed riichi</td>
                        <td>{{ riichi_failed|floatformat:-2 }}%</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Damaten rate</td>
                        <td>{{ damaten_rate|floatformat:-2 }}%</td>
                        <td>
                            <span class="glyphicon glyphicon-question-sign" aria-hidden="true"
                                  title="is the number of hands where you have won without opening a hand and riichi calling divided by the total number of hands you have played"></span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Average values</h3>
                </div>
                <table class="table">
                    <tr>
                        <td>Average position</td>
                        <td>{{ average_position|floatformat:-2 }}</td>
                    </tr>
                    <tr>
                        <td>Average win scores</td>
                        <td>{{ average_win_scores|floatformat:0|intcomma }}</td>
                    </tr>
                    <tr>
                        <td>Average deal scores</td>
                        <td>{{ average_deal_scores|floatformat:0|intcomma }}</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Positions</h3>
                </div>
                <table class="table">
                    <tr>
                        <td>First place</td>
                        <td>{{ first_position_rate|floatformat:-2 }}%</td>
                    </tr>
                    <tr>
                        <td>Second place</td>
                        <td>{{ second_position_rate|floatformat:-2 }}%</td>
                    </tr>
                    <tr>
                        <td>Third place</td>
                        <td>{{ third_position_rate|floatformat:-2 }}%</td>
                    </tr>
                    <tr>
                        <td>Fourth place</td>
                        <td>{{ fourth_position_rate|floatformat:-2 }}%</td>
                    </tr>
                    <tr>
                        <td>Bankruptcy</td>
                        <td>{{ bankruptcy_rate|floatformat:-2 }}%</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="col-lg-12">
            <p>Latest 20 games (total {{ total_games|intcomma }})</p>
            <table class="table table-bordered table-striped">
                <tr>
                    <th>Log</th>
                    <th>Type</th>
                    <th>Position</th>
                    <th>Scores</th>
                    <th>Date</th>
                </tr>
                {% for game in games %}
                    <tr>
                        <td>
                            <a href="{{ game.get_tenhou_url }}" target="_blank">
                                {{ game.get_tenhou_url }}
                            </a>
                        </td>
                        <td>{{ game.get_game_rule_display }}</td>
                        <td>{{ game.player_position }}</td>
                        <td>{{ game.scores|intcomma }}</td>
                        <td>{{ game.game_date }}</td>
                    </tr>
                    <tr>
                        <td>
                            {% for round in game.rounds.all %}
                                {{ round.round_number_display }}

                                {% if round.is_riichi %}
                                    Riichi,
                                    {% if not round.is_win %}
                                        Failed
                                    {% endif %}
                                {% endif %}

                                {% if round.is_win %}
                                    Win ({{ round.is_tsumo|yesno:"tsumo,ron" }})
                                    {{ round.win_scores|intcomma }}
                                {% endif %}

                                {% if round.is_deal %}
                                    Deal (ron) {{ round.lose_scores|intcomma }}
                                {% endif %}

                                {% if not round.is_deal and round.lose_scores %}
                                    Deal (tsumo) {{ round.lose_scores|intcomma }}
                                {% endif %}

                                {% if round.is_retake %}
                                    Retake
                                {% endif %}

                                {% if not round.is_win and not round.is_deal and not round.is_retake and not round.is_riichi and not round.lose_scores %}
                                    -
                                {% endif %}

                                {% if round.is_damaten %}
                                    <span class="label label-success">damaten</span>
                                {% endif %}

                                <br>
                            {% endfor %}
                        </td>
                        <td colspan="4"></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

{% endblock %}